body { 
  	text-align: center; 
  	padding: 50px; 
  	font: 20px Helvetica, sans-serif; 
  	color: #333;
}
  
h1 { 
  	font-size: 50px; 
}

.fa-spinner{
	text-align: center;
	display: block;
}
  
.main { 
  	display: block; 
  	text-align: left; 
  	width: 650px; 
  	margin: 0 auto; 
}
  
a{ 
  	color: #dc8100; 
  	text-decoration: none; 
}
  
a:hover { 
  	color: #333; 
  	text-decoration: none; 
}

.footer{
	clear: both;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

.fa {
  padding: 25px;
  font-size: 40px;
  border-radius: 70%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #f09433;
  color: white;
}
.fa-envelope{
	background:  #C71610;
	color: white;
}
