<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	<meta name="description" content="Mishal Shah - B.Tech in Computer Science at NITK, Surathakal.">
	<meta name="keywords" content="Mishal Shah, mishal23, GSoC, Google Summer of Code, ns-3, ns-3-AppStore, Chaos Engineering, Backend Developer, Full Stack Developer, Alexa, IRIS NITK, IE NITK, HackVerse">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<meta property="og:title" content="Mishal Shah" />
	<meta property="og:description" content="Mishal Shah - B.Tech in Computer Science at NITK, Surathakal" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://mishal23.github.io" />
	<meta property="og:image" content="/assets/img/mishal23.jpeg">

	<link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/favicon/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#2d2a2a">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#2d2a2a">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#2d2a2a">

	<link href="//fonts.googleapis.com/css?family=Finger+Paint|PT+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/css/mobile.css" | prepend: site.baseurl }}">

	<script src="//code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>

	<script type="application/ld+json">
		{
			"@context": "https://mishal23.github.io",
			"@type": "Person",
			"url": "https://mishal23.github.io",
			"name": "Mishal Shah",
			"email": "shahmishal1998@gmail.com"
		}
	</script>
</head>
